fastapi
uvicorn[standard]
python-multipart
pillow
pydantic
numpy
opencv-python-headless
pyyaml
qdrant-client
scikit-image
tritonclient[http]
onnxruntime-gpu
requests

# testing
pytest
pytest-timeout
pytest-order
 
# lint and format
ruff
black